<header class="header-area bg-color1 {% if page.layout == "page" or page.layout == "tag_page" or page.layout == "category" or page.layout == "post" or  page.layout == "author" %}page-area{% endif %}">
<div class="container">
    <div class="header-nav">
        <div class="row">
            <div class="col-lg-3 col-7">
             {% include header_logo.html %}
            </div>
            <div class="col-lg-9 col-5">
              {% include navigation.html %}
            </div>
        </div>
    </div>
     {% if page.url == "/" %}

     <div class="footer-message text-center">
       <p><strong>Wingzy</strong> is now Ask for the moon! <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6845717823751254016/">Learn why</a>.</p>
     </div>
    <div class="header-banner">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-content">
                    <h5>
                      Ask for the moon is a Question & Answer platform for fast-learning industries.
                    </h5>
                    <h5>
                      Our job is to blend into your culture, business cases & workflows to accelerate the knowledge flow throughout your organisation.
                    </h5>
                    <p class="m-b-50">
                      (we love our job ♥)
                    </p>
                    <ul class="banner-ads-btn m-0 list-inline">
                        <li class="list-inline-item"><a href="#contact" class="ads-btn1 btn btn-primary js-scroll-trigger">Ask for the demo</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
              <div class="banner-mockup">
                <img class="banner-picture" src="{{site.baseurl}}/assets/images/why_picture.png" alt="banner image" />
              </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.layout == "post" %}
    <div class="header-page-title">
        <div class="row">
            <div class="col-md-12">
            <div class="page-title text-left white-all">
                <h1 class="big-font1 m-b-30">{{page.title}}</h1>

                <ul class="page-post-date list-inline">
                    {% assign author =  page.author %}
		{% if author %}
					<li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/page-avatar-icon.png" alt="icon"/><a href="/authors/{{page.author}}">{{page.author}}</a></li>
			{% endif %}
                    <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/page-clock-icon.png" alt="icon"/>{{page.date | date_to_long_string}}</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.layout == "category" %}
               <div class="header-page-title">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="page-title text-center white-all">
                              <div class="author-name">
							  <h1 class="big-font1"> {{page.title | capitalize }}</h1>
								 <p class="page-title-meta mb-0">A collection of <strong>
										{% for post in (1..paginator.total_pages) %}
									   {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
									{% endfor %}
									{{ post_count }}
						</strong>  posts
								</p>

							  </div>
                        </div>
                     </div>
                  </div>
               </div>
			{% endif %}
			{% if page.layout == "tag_page" %}
               <div class="header-page-title">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="page-title text-center white-all">
                              <div class="author-name">
							  <h1 class="big-font1"> {{page.title | capitalize }}</h1>
								 <p class="page-title-meta mb-0">A collection of <strong>
												   {% for post in page.posts %}
									   {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
									{% endfor %}
									{{ post_count }}
						</strong>  posts
								</p>

							  </div>
                        </div>
                     </div>
                  </div>
               </div>
    {% endif %}
    {% if page.layout == "author" %}
    <div class="header-page-title">
            <div class="row">
                <div class="col-md-12">
                <div class="page-title text-center white-all">
                    <div class="author-name">
                        <img src="{{page.image}}" alt="{{page.name}}"/>
                        <h1 class="big-font1">{{page.name}}</h1>
                        <p>{{page.bio}}</p>
                        <ul class="social-link list-inline">
                            {% if page.facebook %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if page.twitter %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if page.reddit %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-reddit-alien"></i></a></li>
                            {% endif %}
                            {% if page.instagram %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                </div>
            </div>
        </div>
    {% endif %}
    {% if page.layout == "page" %}
    <div class="header-page-title">
      <div class="row">
        <div class="col-md-12">
            <div class="page-title text-center white-all">
                <h1 class="big-font1">{{page.title}}</h1>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>
</header>
